.footer {
  background: #37003c;
  padding-top: 50px;
}

.footer__nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  border-style: solid;
  border-width: thin;
  border-color: rgb(255, 255, 255);
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  padding-bottom: 40px;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}

.footer-nav__item {
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

.footer-nav__title_block {
  margin-bottom: 15px;
}

.footer-nav__links {
  align-items: flex-start;
  row-gap: 8px;
}

.footer-nav__link {
  font-size: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  transition: 0.3s color;
}

.footer-nav__link:hover {
  color: rgb(255, 40, 130);
}

.footer__btm {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 20px;
  padding-top: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
}

@media (max-width: 767.98px) {
  .footer {
    padding-top: 30px;
  }
  .footer__nav {
    justify-items: center;
  }

  .footer-nav__title_block {
    text-align: center;
    margin-bottom: 10px;
  }

  .footer-nav__links {
    align-items: center;
  }
}
