.pagination {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.pagination__item {
  font-size: 16px;
  font-weight: 500;
  background-color: #37003C;
  padding: 8px;
  border-radius: 5px;
  color: #ffffff;
  transition: 0.3s background-color;
}

.pagination__item--active {
  background-color: #ff2882;
}
.pagination__item:hover {
  cursor: pointer;
  background-color: #ff2882;
}
