@import 'normalize.css';
@import 'header.css';
@import 'matches.css';
@import 'news.css';
@import 'video.css';
@import 'tables.css';
@import 'clubs.css';
@import 'players.css';
@import 'live.css';
@import 'results.css';
@import 'footer.css';
@import 'contact.css';
@import 'post.css';
@import 'history.css';
@import 'club.css';
@import 'player.css';
@import 'review.css';
@import 'aside.css';
@import 'pagination.css';
@import 'swiper.css';

html {
  font-size: 16px;
}

.body {
  font-family: 'Times New Roman', serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  min-height: 100vh;
  background-color: rgb(227, 227, 227);
  line-height: 1;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar:horizontal {
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #24c4fc;
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.flx-btwn {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.section {
  margin-bottom: 50px;
}

.title__block {
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin-bottom: clamp(20px, 2vw, 30px);
}
.title {
  font-size: clamp(26px, 2.5vw, 40px);
  font-weight: 700;
  color: rgb(55, 0, 60);
  text-transform: uppercase;
}

.title__block_logo {
  height: clamp(50px, 3.5vw, 70px);
}

.mb-reset {
  margin-bottom: 0;
}

.mb-50 {
  margin-bottom: 50px;
}

.grid-cols-69pcr-1fr {
  display: grid;
  grid-template-columns: 69% 1fr;
}

.pb-60pcr {
  padding-bottom: 60%;
}
.image-block {
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.media__img {
  object-position: 100% 0%;
}
.ibg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}
.media__text_block {
  padding-bottom: 15px;
  padding-top: 15px;
  row-gap: 8px;
  flex-grow: 1;
  background: #fff;
  padding-left: 15px;
  padding-right: 15px;
}

.title--30 {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 35px;
}
.hover-text {
  transition: 0.3s all ease;
}
.hover-text:hover {
  color: rgb(255, 40, 130);
  transition: 0.3s all ease;
}
.text--hover {
  transition: 0.3s all ease;
}
.text--hover:hover {
  color: rgb(255, 40, 130);
  transition: 0.3s all ease;
}
.flx-clmn {
  display: flex;
  flex-direction: column;
}
.media__items {
  row-gap: 10px;
}
.title--22 {
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
}
.pb-50pcr {
  padding-bottom: 50%;
}
.h-100pcr {
  height: 100%;
}
.text--violet {
  color: rgb(135, 102, 138);
}

.logo--30 {
  height: 30px;
  width: 30px;
  object-fit: contain;
}

.link__btn {
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 8px;
  padding-top: 10px;
  transition: 0.4s all ease;
  background: #24c4fc;
}

.link__btn--sm {
  font-size: 15px;
}

.link__btn:hover {
  transition: 0.4s all ease;
  background-color: #ff2882;
}
.pos-sticky {
  position: sticky;
  top: 90px;
}

.logo-70 {
  height: 70px;
}
.media__rows {
  column-gap: 30px;
}

.title-link--30 {
  font-size: 30px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

.link__btn--big {
  font-size: 18px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 7px;
  padding-top: 10px;
}

.media__cards {
  column-gap: 15px;
  row-gap: 15px;
}
.grid-cols-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.title--20 {
  font-size: 20px;
  font-weight: 700;
}
.text-green {
  color: rgb(0, 211, 14);
}
.text-red {
  color: rgb(255, 0, 0);
}
.rows-20 {
  row-gap: 20px;
  column-gap: 20px;
}

.title-26 {
  font-size: 26px;
  font-weight: 700;
}

.link__btn--dark {
  background: #37003c;
}
.grid-cols-4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.logo-40 {
  height: 40px;
}

.hover-scale {
  transition: 0.3s scale;
}
.hover-scale:hover {
  scale: 1.1;
  transition: 0.3s scale;
}
.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
  display: grid;
}

.logo-50 {
  object-fit: contain;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  height: 50px;
}

.cal__month {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
  column-gap: 10px;
  margin-bottom: 15px;
  color: rgb(55, 0, 60);
}
.grid-cols-7 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.cal__day {
  border-style: solid;
  border-width: thin;
  border-color: rgb(36, 196, 252);
  border-top-width: 0;
  border-left-width: 0;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  color: rgb(55, 0, 60);
  text-align: center;
}
.cal__day:first-child {
  border-left-width: thin;
}
.cal__date {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}
.cal__body {
  margin-bottom: 12px;
}
.cal__team_block {
  font-size: 19px;
  font-weight: 700;
  align-items: center;
  text-transform: uppercase;
}

.text-and-img__block {
  column-gap: 20px;
}

.pb-40pcr {
  padding-bottom: 40%;
}

.title__link-36 {
  font-size: 36px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.logo-120 {
  height: 120px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.67);
  backdrop-filter: blur(4px);
}

.text-white {
  color: rgb(255, 255, 255);
}

.title-60 {
  font-size: 60px;
  font-weight: 700;
  text-transform: capitalize;
}
.club-head__data {
  align-items: center;
  display: flex;
  column-gap: 30px;
  text-transform: capitalize;
}

@media (max-width: 767.98px) {
  .section {
    margin-bottom: 30px;
  }
}
