@import 'normalize.css';
@import 'header.css';
@import 'matches.css';
@import 'news.css';
@import 'video.css';
@import 'tables.css';
@import 'clubs.css';
@import 'players.css';
@import 'live.css';
@import 'results.css';
@import 'footer.css';
@import 'contact.css';
@import 'post.css';
@import 'history.css';
@import 'aside.css';
@import 'pagination.css';
@import 'swiper.css';


html {
  font-size: 16px;
}

.body {
font-family: 'Times New Roman', serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  min-height: 100vh;
  background-color: rgb(227, 227, 227);
  line-height: 1;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.flx-btwn {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.section {
  margin-bottom: 50px;
}

.title__block {
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin-bottom: clamp(20px, 2vw, 30px);
}
.title {
  font-size: clamp(26px, 2.5vw, 40px);
  font-weight: 700;
  color: rgb(55, 0, 60);
  text-transform: uppercase;
}

.title__block_logo {
  height: clamp(50px, 3.5vw, 70px);
}

.mb-reset {
  margin-bottom: 0;
}

.mb-50 {
  margin-bottom: 50px;
}



.grid-cols-69pcr-1fr {
  display: grid;
  grid-template-columns: 69% 1fr;
}


.pb-60pcr {
  padding-bottom: 60%;
}
.image-block {
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.media__img {
  object-position: 100% 0%;
}
.ibg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}
.media__text_block {
  padding-bottom: 15px;
  padding-top: 15px;
  row-gap: 8px;
  flex-grow: 1;
  background: #fff;
  padding-left: 15px;
  padding-right: 15px;
}

.title--30 {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 35px;
}
.hover-text {
  transition: 0.3s all ease;
  color: rgb(0, 0, 0);
}
.hover-text:hover {
  color: rgb(255, 40, 130);
  transition: 0.3s all ease;
}
.text--hover {
  transition: 0.3s all ease;
}
.text--hover:hover {
  color: rgb(255, 40, 130);
  transition: 0.3s all ease;
}
.flx-clmn {
  display: flex;
  flex-direction: column;
}
.media__items {
  row-gap: 10px;
}
.title--22 {
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
}
.pb-50pcr {
  padding-bottom: 50%;
}
.h-100pcr {
  height: 100%;
}
.text--violet {
  color: rgb(135, 102, 138);
}

.logo--30 {
  height: 30px;
  width: 30px;
  object-fit: contain;
}

.link__btn {
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 8px;
  padding-top: 10px;
  transition: 0.4s all ease;
  background: #24c4fc;
}

.link__btn--sm{
  font-size: 15px;
}

.link__btn:hover {
  transition: 0.4s all ease;
  background-color: #ff2882;
}
.pos-sticky {
  position: sticky;
  top: 90px;
}

.logo-70 {
  height: 70px;
}
.media__rows {
  column-gap: 30px;
}

.title-link--30 {
  font-size: 30px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}


.link__btn--big {
  font-size: 18px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 7px;
  padding-top: 10px;
}

.media__cards {
  column-gap: 15px;
  row-gap: 15px;
}
.grid-cols-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.title--20 {
  font-size: 20px;
  font-weight: 700;
}
.text-green {
  color: rgb(0, 211, 14);
}
.text-red {
  color: rgb(255, 0, 0);
}
.rows-20 {
  row-gap: 20px;
  column-gap: 20px;
}

.title-26 {
  font-size: 26px;
  font-weight: 700;
}

.link__btn--dark {
  background: #37003c;
}
.grid-cols-4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.logo-40 {
  height: 40px;
}

.hover-scale {
  transition: 0.3s scale;
}
.hover-scale:hover {
  scale: 1.1;
  transition: 0.3s scale;
}
.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
  display: grid;
}

.logo-50 {
  object-fit: contain;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  height: 50px;
}


.cal__month {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
  column-gap: 10px;
  margin-bottom: 15px;
  color: rgb(55, 0, 60);
}
.grid-cols-7 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.cal__day {
  border-style: solid;
  border-width: thin;
  border-color: rgb(36, 196, 252);
  border-top-width: 0;
  border-left-width: 0;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  color: rgb(55, 0, 60);
  text-align: center;
}
.cal__day:first-child {
  border-left-width: thin;
}
.cal__date {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}
.cal__body {
  margin-bottom: 12px;
}
.cal__team_block {
  font-size: 19px;
  font-weight: 700;
  align-items: center;
  text-transform: uppercase;
}
.grid-pts-tbl {
  display: grid;
  grid-template-columns: 8% 25% repeat(8, 1fr);
}
.text-and-img__block {
  column-gap: 20px;
}

.pb-40pcr {
  padding-bottom: 40%;
}
.news__wrap {
  column-gap: 20px;
  margin-bottom: 20px;
}
.pag__section {
  align-items: center;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  padding-top: 30px;
}
.pag__item {
  background: #37003c;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 2px;
  padding-top: 2px;
  transition: 0.3s all ease;
}
.pag__item:hover {
  background: #ff2882;
  transition: 0.3s all ease;
}
.pag__item--active {
  background: #ff2882;
}


.review__section {
  padding-bottom: 50px;
  padding-top: 50px;
  background-image: url('../images/b815a60f63297db1b2c8fbb1cb12a93d.webp');
  background-size: cover;
  position: relative;
}
.review__content {
  position: relative;
  z-index: 10;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.review__head {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  column-gap: 30px;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 30px;
}
.review__body {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.review__team_block {
  align-items: flex-start;
  display: flex;
  flex-basis: 33%;
  column-gap: 30px;
}
.title__link-36 {
  font-size: 36px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.goals__block {
  font-size: 20px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  row-gap: 7px;
  margin-top: 10px;
}
.goals__item {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  column-gap: 30px;
}
.logo-120 {
  height: 120px;
}
.review__score {
  align-self: center;
  display: flex;
  flex-basis: 33%;
  font-size: 70px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  column-gap: 15px;
  justify-content: center;
}
.review__live_block {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.67);
  backdrop-filter: blur(4px);
}

.review-stats__item {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  text-transform: uppercase;
  background-color: rgb(255, 255, 255);
  color: rgb(55, 0, 60);
  border-style: solid;
  border-width: thin;
  border-color: rgb(36, 196, 252);
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
}
.text-white {
  color: rgb(255, 255, 255);
}
.club__head_section {
  background-image: url('../images/fa826f3006a8dffa813a9d96d6e42105.jpg');
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 50px;
}
.club-head__content {
  align-items: stretch;
}
.club-head__info {
  align-items: center;
  display: flex;
  column-gap: 20px;
}
.club-head__text_block {
  color: rgb(255, 255, 255);
}
.title-60 {
  font-size: 60px;
  font-weight: 700;
  text-transform: capitalize;
}
.club-head__data {
  align-items: center;
  display: flex;
  column-gap: 30px;
  text-transform: capitalize;
}
.club-head__img {
}
.club-head__img_block {
  width: 35%;
  position: relative;
  padding-bottom: 20%;
}
.manager__card {
  background: #37003c;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  align-items: center;
  display: flex;
  column-gap: 20px;
}
.manager__photo_block {
  align-self: flex-end;
}
.manager__photo {
  width: 100%;
}
.manager__info {
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}
.manager__name {
  font-size: 22px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.cup__item {
  row-gap: 10px;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}
.cup__img {
  height: 200px;
}
.player__photo_block {
  height: 100%;
}
.player__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
}
.player__title_block {
  font-size: 26px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.overview__block {
  display: flex;
  column-gap: 20px;
  width: 100%;
}
.overview__item {
  background: #37003c;
  border-radius: 10px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  align-items: center;
  flex-basis: 22%;
  text-transform: capitalize;
}
.overview__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.params__block {
  background: #37003c;
  border-radius: 10px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.params__title_block {
  text-transform: capitalize;
  margin-bottom: 25px;
}
.circle__wrap {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.circle__block {
  margin-top: 15px;
  align-items: center;
  display: flex;
  border-style: solid;
  border-width: 8px;
  border-radius: 50%;
  justify-content: center;
  height: 120px;
  width: 120px;
  border-right-color: rgb(255, 40, 130);
  border-bottom-color: rgb(255, 40, 130);
}
.params__item {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  font-size: 18px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  padding-bottom: 10px;
  padding-top: 10px;
}
.grid-player-tbl {
  display: grid;
  grid-template-columns: 15% 30% repeat(8, 1fr);
}

@media (max-width: 767.98px) {
  .section {
    margin-bottom: 30px;
  }
}
